/* Globals */
body {
	background: #f4f5f6;
}
.container-fluid {
	background-color: white;
	width: 98%;
}
a {
	text-decoration: none;
}
.article-title,
.article-title a {
	font: bold 16px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding-bottom: 8px;
	color: rgba(3, 3, 3, 0.4);
	text-decoration: none;
}

.card-title a {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 0;
	margin-left: 0;
	color: black !important;
	text-decoration: none;
}
.card-title a:hover {
	text-decoration: underline;
	text-decoration-color: #f72210;
}
.header-wrapper {
	background-color: #f72210;
	position: relative;
}
.header-wrapper h1 {
	padding: 15px;
	position: absolute;
	bottom: -10px;
	left: 450px;
}
.header-text {
	color: white;
	width: 396px;
	height: 60px;
	margin: 10px auto 0;
	font-weight: 900;
	text-decoration: none;
	font-family: "Bree Serif", serif;
}
.login {
	font: bold 14px/14px "Roboto Condensed", sans-serif;
	text-transform: uppercase;

	cursor: pointer;
	text-decoration: none;
	color: white;
}
.card {
	width: 100%;
}
.col-one .card-body:not(.sponsored-insight),
.col-two .card-body:not(.sponsored-insight) {
	padding-left: 0;
	border: none;
}
.col-one .card:not(.sponsored-insight),
.col-two .card:not(.sponsored-insight) {
	padding-left: 0;
	border: none;
}
/* .col-md-3 .card,
.col-md-5 .card {
	padding-left: 0;
	border: none;
} */

.card-body {
	position: relative;
}

.btn-primary {
	position: absolute;
	left: 0;
	top: -35px;
	color: red;
	background-color: rgba(212, 212, 212, 0.7);
	font-weight: 700;
}
.btn-text-blue {
	padding-left: 15px;
	padding-right: 15px;
	background-color: rgba(212, 212, 212, 0.7);
	position: absolute;
	top: -33px;
	left: 0;
	z-index: 1;
	color: #3581f4;
	display: block;
	font: bold 17px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding-top: 8px;
	padding-bottom: 9px;
}

.btn {
	border: none;
	border-radius: 0;
}
.btn-light {
	color: red;
	height: 30px;
}
.btn-red {
	background-color: #f61602;
	text-transform: uppercase;
	color: white;
}

/* Third Colunm */
.author-profile img {
	width: 67px;
	height: 67px;
}
.debate-title a {
	text-decoration: none;
	font: bold 17px/21px "Roboto Condensed", sans-serif;
	cursor: pointer;
	color: black;
}
.debate-title a:hover {
	color: #f72210;
}
.debater {
	font-size: 14px;
	font-weight: bold;
	line-height: 21px;
	text-transform: uppercase;
	color: black;
}
.debater span {
	font-weight: normal;
	color: #555;
	text-transform: uppercase;
}
.featured-border-line-red {
	border-bottom: 4px solid red;
}
.featured-border-line-blue {
	border-bottom: 4px solid #1c87fb;
}
.double-border-line {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}
.versus {
	width: 32px;
	height: 32px;
	background-color: #000;
	color: #d6d6d6;
	border-radius: 50%;
	font: bold 14px/32px "Roboto Condensed", sans-serif;
	text-align: center;
	margin: -16px auto;
}
.newsletter-form {
	background-color: #f4f5f6;
}

.newsletter-form img,
.in-the-magazine-header img {
	width: 29px;
	height: 28px;
	/* margin-right: 10px; */
}
.newsletter-title {
	font: bold 19px/19px "Roboto Condensed", sans-serif;
	margin-bottom: 15px;
	text-transform: uppercase;
}

/* OPINION SECTION */
.pandemic-heroes-title a {
	font: bold 16px/19px "Roboto Condensed", sans-serif;
	color: rgba(3, 3, 3, 0.5) !important;
	text-decoration: none;
}
.pandemic-hero-btn {
	position: absolute;
	left: 0;
	top: -1.9rem;
	color: black;
	background-color: #c2d4d7;
	padding: 0.0425rem 0.375rem;
	font-weight: 700;
	font-size: 14px;
	text-align: left;
}
.pandemic-heroes .card-body,
.culture-travel .card-body {
	padding: 0;
}
/* MORE STORIES */
.more-stories-body a {
	font-size: 17px;
	line-height: 21px;
}

/* IN THE MAGAZINE */
.in-the-magazine-cat {
	margin-top: 50px;
}
.news-cat {
	background-color: #f72210;
	font-size: 15px;
}

.magazine-category a {
	font: bold 16px/26px "Roboto Condensed", sans-serif;
	color: #f72210 !important;
	text-decoration: none !important;
}
.in-the-magazine .btn-primary-1 {
	position: absolute;
	left: 0;
	top: -36px;
	color: red;
	background-color: rgba(212, 212, 212, 0.7);
	font-weight: 700;
}

.mag-col {
	position: relative;
}
.btn-magazine-cat {
	background-color: #f4f5f6;
	position: absolute;
	bottom: 0;
	padding: 0.8rem;
	left: 0;
	z-index: 1;
	font: bold 17px/16px "Roboto Condensed", sans-serif;
}
.btn-magazine-cat:hover {
	color: #dbdcdd !important;
}

/* MEDIA QUERY */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
	body {
		background-color: #fff;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
