/* Globals */
body {
	background: #f4f5f6;
}
main {
	background-color: white;
}
a {
	text-decoration: none;
}
.article-title {
	font: bold 16px/16px "Roboto Condensed", sans-serif;
	text-transform: uppercase;
	padding-bottom: 11px;
	color: rgba(3, 3, 3, 0.4);
}

.card-title a {
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 700;
	font-size: 20px;
	margin-bottom: 10px;
	padding-left: 0;
	margin-left: 0;
	color: black !important;
	text-decoration: none;
}
.card-title a:hover {
	text-decoration: underline;
	text-decoration-color: #f72210;
}
.header-wrapper {
	background-color: #f72210;
	position: relative;
}
.header-wrapper h1 {
	padding: 15px;
	position: absolute;
	bottom: -10px;
	left: 450px;
}
.header-text {
	color: white;
	width: 396px;
	height: 60px;
	margin: 10px auto 0;
	font-weight: 900;
	text-decoration: none;
	font-family: "Bree Serif", serif;
}
.login {
	font: bold 14px/14px "Roboto Condensed", sans-serif;
	text-transform: uppercase;

	cursor: pointer;
	text-decoration: none;
	color: white;
}

.card {
	width: 100%;
}
.card-body {
	position: relative;
}
.btn-primary {
	position: absolute;
	left: 0;
	top: -35px;
	color: red;
	background-color: rgba(212, 212, 212, 0.7);
	font-weight: 700;
}
.btn {
	border: none;
	border-radius: 0;
}
.btn-light {
	color: red;
	height: 30px;
}
.author-profile img {
	width: 67px;
	height: 67px;
}
.featured-border-line {
	border-bottom: 4px solid red;
}
.double-border-line {
	border-bottom: 1px solid #ddd;
	margin-bottom: 1px;
}
.versus {
	width: 32px;
	height: 32px;
	background-color: #000;
	color: #d6d6d6;
	border-radius: 50%;
	font: bold 14px/32px "Roboto Condensed", sans-serif;
	text-align: center;
	margin: -16px auto;
}
